.card{
    border-radius: 0 30px;
    background-image: url(../../assets/4007729.jpg) !important;
}

/* .add-note-background{
    background-image: url(../../assets/69aeb9250da0d7c396814838662a944b.jpg) !important;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
  } */

.btn-style{
    border-radius: 0 30px !important;
}

.title{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(142, 7, 184);
justify-content: center;
align-items: center;
display: flex;
width: 300px;
}

.header_title{
    font-weight: bolder;
    color: black;
}

.text{
    border: 1px solid rgb(150, 14, 204);
    border-radius: 50px;
    background-color: transparent;
    padding: 5px;
    margin-top: 10px;
    width: 300px;
}

.text-box-multi{
    border: 1px solid rgb(150, 14, 204) !important;
    border-radius: 0 30px ;
    background-color: white ;
    padding: 5px ;
    margin-top: 10px ;
    width: 300px;
}

.img-placement{
    width: 300px;
    border: 1px solid rgb(150, 14, 204);
    border-radius: 50px;
    background-color: transparent;
    padding: 5px;
    margin-top: 10px;
}

.card-body {
    /* background: lightblue; */
    background-image: url(../../assets/card_background.png) !important;
}

.btn-icon{
    justify-content: flex-end !important;
    color: white !important; 
    background-color: blueviolet !important;
  
}

.action-btn{
    color: white !important; 
    background-color: blueviolet !important;
}



/* .card-footer {
 
    background-image: url(../../assets/wp6725865.jpg) !important;
} */