
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Lobster&family=Monofett&family=Roboto&family=Rubik+Gemstones&family=Secular+One&display=swap');


.home-body{
    /* background-image: url(../../assets/491368.jpg) !important; */
    /* background-color: rgb(244, 239, 248); */
    background-size: cover;
     /* background: rgb(244, 239, 248) !important; 
    background: linear-gradient(90deg, rgb(244, 239, 248) 0%, rgb(169, 105, 230) 35%, rgb(158, 162, 163) 100%)!important;  */
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .body-title{
    font-family: 'Lobster', cursive;
    font-size: 1in;
    color: rgb(252, 249, 252);
   text-shadow: 1ch coral;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5vh;

}


  .body-content{
    font-family: 'Secular One', sans-serif;
    /* font-family: 'Lobster', cursive; */
    position: 'absolute';
    font-size: '120px';
    font-size: xx-large;
    font-weight: bold;
    color: purple;
    align-items: center;
    display: flex;
    justify-content: center;
   

}

.body-content2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
  color: rgb(63, 60, 63);
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1;
}



.body-button{
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  background-color: rgb(224, 115, 12) !important;
  color: white !important;
  border-radius: 60 !important;
}

.note-image-style {
  width: 300px;
  height: 60vh;
  align-items: center;
    display: flex;
    justify-content: center;
}

.title-btn{
  width: 150 !important;
  height: 50 !important;
  color: blue !important; 

}



  /* body {
    background-image: url("/img/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    height: 100vh;
    width: 100vw;
} */


  /* @font-face {
    font-family: RubikaMoonro;
    src: url(../../fonts/RubikMoonrocks-Regular.ttf);
}

.font-type{
    font-family: RubikaMoonro !important;
} */


/* .body-new {
  overflow: hidden;
  margin: 0;
  padding: 0;
} */

.wave {
  display: block;
  position: relative;
  height: 40px;
  width: 100%;
  background: rgb(57, 27, 112);
  transform: scale(1, 1);
  z-index: -1;
}

.wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: white;
  right: -25%;
  top: 20px;
  z-index: -1;
}

.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: rgb(57, 27, 112);
  left: -25%;
  top: -240px;
  clip-path: ellipse(100% 15% at -15% 100%);
}

