
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');


.body{
    background-image: url(../../assets/back_note.jpg) !important;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  .body-title{
    font-family: 'Lobster', cursive;
    font-size: 1in;
    color: rgb(252, 249, 252);
   text-shadow: 1ch coral;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5vh;

}


  .body-content{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    color: purple;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.body-content2{
  font-family: 'Lobster', cursive;
  font-size: xx-large;
  color: purple;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1;
}



.body-button{
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  background-color: rgb(224, 115, 12) !important;
  color: white !important;
  border-radius: 60 !important;
}

.note-image-style {
  width: 300px;
  height: 60vh;
  align-items: center;
    display: flex;
    justify-content: center;
}

  /* body {
    background-image: url("/img/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    height: 100vh;
    width: 100vw;
} */


  /* @font-face {
    font-family: RubikaMoonro;
    src: url(../../fonts/RubikMoonrocks-Regular.ttf);
}

.font-type{
    font-family: RubikaMoonro !important;
} */

