
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');


  /* @font-face {
    font-family: RubikaMoonro;
    src: url(../../fonts/RubikMoonrocks-Regular.ttf);
}

.font-type{
    font-family: RubikaMoonro !important;
} */
