.forgot-background{
    background-color: rgb(207, 178, 236) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10;
}

.main-line-forgot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10;
}

.card-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.main-card-content{
    display: flex !important;
    width: "400px" !important;
    height: "500px" !important;
    box-shadow: 2 !important;
    margin: 5 !important;
    margin-top: 20 !important;
   
}