.body-signup {
    background-image: url(../../assets/4007729.jpg) !important;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  
.text_content {
  width: 300px !important;
  height: 30vh;
}
  